<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Botánica.com</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/home.css">
</head>
<body>

<header class="header">
    <div class="logo">LOGO</div>
    <h1 class="brand">Botánica.com</h1>

    <nav class="nav">
        <a href="./index.html">Home</a>
        <a href="./productDetail.html">Productos</a>
        <a href="./productCart.html">Carrito</a>
        <a href="./login.html">Login</a>
        <a href="./register.html">Register</a>
    </nav>
</header>

<section class="hero">
    <div class="hero-img"><img src="../assets/img/plantas1.jpg" alt="Planta de interior">
</div>
</section>

<section class="welcome">
    <h2>Bienvenidos a Botánica.com</h2>
    <p>Tu tienda de plantas y artículos de jardinería</p>
    <a href="./productDetail.html" class="btn-main">Ver Productos</a>
</section>

</body>
</html>
