<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head', { title: 'Home - Botánica.com', stylesheet: 'home' }) %>
<body>

<%- include('./partials/header') %>

<section class="hero">
    <div class="hero-img"><img src="/img/plantas1.jpg" alt="Planta de interior">
</div>
</section>

<section class="welcome">
    <h2>Bienvenidos a Botánica.com</h2>
    <p>Tu tienda de plantas y artículos de jardinería</p>
    <a href="./productDetail.html" class="btn-main">Ver Productos</a>
</section>

<%- include('./partials/footer') %>

</body>
</html>
