<header class="header">
    <div class="header-left">
        <div class="logo">LOGO</div>
        <h1 class="brand">
            <a href="/" style="text-decoration: none; color: inherit;">Botánica.com</a>
        </h1>
    </div>

    <nav class="nav">
        <a href="/">Home</a>
        <a href="/products">Productos</a>
        <a href="/products/cart">Carrito</a>
        
        <% if (locals.isLogged) { %>
            <a href="/users/profile">Hola, <%= userLogged.firstName %></a>
            <a href="/users/logout">Cerrar Sesión</a>
        <% } else { %>
            <a href="/users/login">Login</a>
            <a href="/users/register">Registro</a>
        <% } %>
    </nav>
</header>